// aproveitamento de código (mixagem de código)
@mixin text-style($color, $font-size, $font-family) {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
}

@mixin btn-style($padding, $border, $background-color) {
    padding: $padding;
    border: $border;
    background-color: $background-color;
}